<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Library</title>
    <link th:href="@{/site.css}" rel="stylesheet"/>
</head>
<body>
<form id="edit-form" action="book_edit.html" th:method="post" th:object="${book}"
      th:action="@{/book/{id}(id=${book.id})}">
    <h3>Book Info:</h3>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" value="1" th:value="*{id}"/>
    </div>

    <div class="row">
        <label for="title-input">Title:</label>
        <input id="title-input" name="title" type="text" value="title" th:value="*{title}"/>
    </div>

    <div class="row">
        <label for="author-input">Author:</label>
        <select id="author-input" name="authorId">
            <option value="0">select author</option>
            <option th:each="author : ${authors}" th:value="${author.id()}" th:text="${author.fullName()}"
                    th:selected="${author.fullName() == book.author}"/>
        </select>
    </div>

    <div class="row">
        <label for="genres-input">Genres:</label>
        <select id="genres-input" multiple="multiple" name="genresIds">
            <option th:each="genre : ${genres}" th:value="${genre.id()}" th:text="${genre.name()}"
                    th:selected="${#lists.contains(book.genres, genre.name())}"/>
        </select>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>

<a href="/book">Back</a>

</body>
</html>